# Mac files
**/.DS_Store

# IDE files
.idea/
*.iml
.ijwb/

# VS Code files
**/.vscode/
**/.settings/
**/.project
**/.classpath

# For debigging
**/temp.xml

# Python files
**/__pycache__

# Bazel
bazel-*

# Biograkn's large datasets that are too large for Git and Git LFS
diseasenetwork/dataset/intact/PPIs.csv
