# Mac files
.DS_Store

# IDE
.idea
*.iml
.vscode/
.settings/
.project
.classpath

# Python files
__pycache__/


## bazel directories
bazel-bin
bazel-docs
bazel-genfiles
bazel-out
bazel-testlogs
.ijwb
.idea